/*
Theme name: Platzi
Theme URI: http;//platzi.com
Author: Platzi team
Author URI: http://platzi.com
Description: Este es el mejor tema del mundo.
Version: 1.0
*/




/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
gutter = 20px




/*------------------------------------*\
    $SITIO
\*------------------------------------*/
body
	margin 0
	padding 0

.header
	background-color rgba(black,.8)
	padding gutter
	color white
	h1
		margin 0
		margin-bottom .5rem
	h2
		font-size 1rem
		margin 0
		
.content
	padding (gutter / 2)
	text-align center
	
.post
	text-align left
	display inline-block
	background-color rgba(black,.1)
	padding gutter
	margin-bottom gutter
	width 360px
	vertical-align top

.datos
	border-bottom 1px solid 
	padding-bottom .5rem
	
.img
	margin-right 0
	margin-left 0
	img
		width 100%
		height auto

.footer-negro
	background-color rgba(black,.8)
	padding gutter
	color white
	li
		display inline-block
		color white

.cat__blog
	background-color orange

@media only screen and (min-width: 900px) 
	.content
		width 900px
		display block
		margin-right auto
		margin-left auto
		// Seleccionar un elemento con dos class
		&.sidebar
			background-color red
			width 68%
			display table-cell
	.table
		background-color blue
		display table
	aside
		background-color green
		display table-cell
		width 72%
	.footer
		background-color orange
		display table-footer-group
	
	.post
		width 360px
		&:nth-child(odd)
			margin-right gutter
			
	.nav__list
		margin-top 0
		margin-bottom 0
		display flex
		justify-content flex-end
		padding gutter
		background-color rgba(black,.9)
		li
			list-style none 
			margin-left gutter
			a
				color white
				text-decoration none
				&:hover
					color gray
	.nav--afic
		&:before
			content '>'
			color white
	.nav--foter__list
		margin-top 0
		margin-bottom 0
		display table
		padding gutter
		li
			display table-row
			list-style none 
			margin-bottom gutter
			a
				color white
				text-decoration none
				&:hover
					color gray				
			
		
		
	
	
	