/*
Theme name: Platzi
Theme URI: http;//platzi.com
Author: Platzi team
Author URI: http://platzi.com
Description: Este es el mejor tema del mundo.
Version: 1.0
*/

gutter = 20px

body
	margin 0
	padding 0

.header
	background-color rgba(black,.8)
	padding gutter
	color white
	h1
		margin 0
		margin-bottom .5rem
	h2
		font-size 1rem
		margin 0
		
.content
	padding (gutter / 2)
	text-align center
	
.post
	text-align left
	display inline-block
	background-color rgba(black,.1)
	padding gutter
	margin-bottom gutter
	width 360px
	vertical-align top

.datos
	border-bottom 1px solid 
	padding-bottom .5rem
	
.img
	margin-right 0
	margin-left 0
	img
		width 100%
		height auto



@media only screen and (min-width: 900px) 
	.content
		width 900px
		display block
		margin-right auto
		margin-left auto
	.post
		width 360px
		&:nth-child(odd)
			margin-right gutter
		
		
	
	
	